<form [formGroup]="filterForm">
<div class="filter-and-download">
  <div class="filter">
    <h2>Orders</h2>
    <div class="filter-input"> 
        <input type="text" class="form-control" id="email" placeholder="Enter email or session id" formControlName="filter"/> 
    </div>
    <div class="">
        <button class="btn btn-primary" (click)="onFilter()">FILTER</button>
    </div>
  </div>
  <div>
    <button class="download-button" (click)="onDownload()">DATA DOWNLOAD<br><mat-icon >save_alt</mat-icon></button>
  </div> 
</div>
</form>

<div id="ordersTable" >
<table class="table">
  
    <thead class="thead-dark">
      <tr>
        <th scope="col">Store</th>
        <th scope="col">Buyer email</th>
        <th scope="col">Status</th>
        <th scope="col">Payment date</th>
        <th scope="col">Session Id</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <tr  *ngFor="let item of orderList | paginate:{itemsPerPage:tableSize, currentPage: page, totalItems:count}; let i = index" >
            <td>{{item.storeName}}</td>
            <td>{{item.userEmail}}</td>
            <td>{{item.paymentStatus}}</td>
            <td>{{ item.paymentDate | date: 'mediumDate' }}</td>
            <td class="fixed-width-td">{{item.sessionId}}</td>
        <!--<td ><button *ngIf="item.paymentStatus!='Paid'" class="btn btn-primary" (click)="onPay(item.id ?? -1)">Pay Order</button></td> -->
            <td><button class="btn btn-secondary" (click)="openItemsModal(item.id ?? -1)">Items</button></td>
            <td><button class="btn btn-danger" (click)="onDelete(item.id ?? -1)">Delete</button>
      </tr>
    </tbody>
  
</table>
  <div>
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">

    </pagination-controls>
  </div>
</div>

