<div class="d-flex justify-content-center mt-5">
    <div>
        <h1>Change Password</h1>
        <form [formGroup]="changePasswordForm" >
            <div>
            <input type="password" class="form-control" id="password" placeholder="New password" formControlName="password" />
            <input class="form-control" type="password" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword" />
            <small *ngIf="changePasswordForm.hasError('ConfirmPasswordValidator','confirmPassword')" class="text-danger">
                Password doesn't match
            </small>
            </div>
            <div class="d-grid">
                <button (click)="reset()"class="btn btn-lg btn-primary mt-3" type="submit">Submit</button>
            </div>
        </form>
  </div>
  </div>