<div class="form-wrapper">
    <div class="form-container">
    <h2>Store Information</h2>
    <form>
        <div class="form-group">
            <label for="storeName">Name:</label>
            <input type="text" id="storeName" name="storeName" value="{{store?.name}}" disabled>
        </div>
        <div class="form-group">
            <label for="storeAddress">Address:</label>
            <input type="text" id="storeAddress" name="storeAddress" value="123 Store St, City, Country" disabled>
        </div>
    </form>
    </div>
</div>

