<div class="add-button">
  <h1>Products</h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price (&euro;)</th>
      <th scope="col">Weight</th>
      <th scope="col">Barcode</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let element of dataSource | paginate:{itemsPerPage:productsTableSize, currentPage: productsPage, totalItems:productsCount}; let i = index">
      <td>{{ element.name }}</td>
      <td>{{ element.price }}</td>
      <td>{{element.weight}}</td>
      <td>{{element.barcode}}</td>
    </tr>
  </tbody>
</table>
<div>
  <pagination-controls
  previousLabel="Prev"
  nextLabel="Next"
  (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>